{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    // browsers released in 2021
                    "chrome": "88",
                    "firefox": "85",
                    "safari": "14",
                    // NodeJS 14
                    "node": "14"
                },
                "loose": true
            }
        ]
    ]
}
