{
	"env": {
		"browser": true,
		"commonjs": true,
	},
	"extends": "eslint:recommended",
	"globals": {
		"Prism": "readonly",
	},
	"parserOptions": {
		"ecmaVersion": 5,
	},
	"root": true,
	"rules": {
		"comma-dangle": [
			"warn",
			"only-multiline",
		],
		"linebreak-style": [
			"error",
			"unix",
		],
		"no-console": "off",
		"no-empty": "off",
		"no-inner-declarations": "off",
		"no-mixed-spaces-and-tabs": "error",
		"no-redeclare": "off",
		"no-sparse-arrays": "off",
		"no-unused-vars": [
			"warn",
			{
				"args": "none",
			}
		],
		"no-useless-escape": "off",
		"semi": [
			"error",
			"always",
		],
	},
	"overrides": [
		{
			"files": [
				"components/*.js",
				"gulpfile.js",
			],
			"rules": {
				"quotes": [
					"warn",
					"single",
					{
						"avoidEscape": true,
					}
				],
			},
		},
		{
			"files": [
				"components/prism-core.js",
				"prism.js",
			],
			"globals": {
				"WorkerGlobalScope": "readonly",
			},
		},
		{
			"files": [
				"tests/**/*.js"
			],
			"env": {
				"es6": true,
				"node": true,
				"mocha": true,
			},
			"parserOptions": {
				"ecmaVersion": 2015,
			},
		},
		{
			"files": [
				"gulpfile.js",
			],
			"env": {
				"es6": true,
				"node": true,
			},
			"parserOptions": {
				"ecmaVersion": 2015,
			},
		},
		{
			"files": [
				"scripts/**/*.js",
			],
			"globals": {
				"$": "readonly",
				"$$": "readonly",
				"$u": "readonly",
				"Utopia": "readonly",
				"Promise": "readonly",
				"components": "readonly",
				"setTheme": "readonly",
				"saveAs": "readonly",
				"PrefixFree": "readonly",
				"StyleFix": "readonly",
			},
		}
	]
}
