.idea
*.iml

hide-*.js
.DS_Store
CNAME
examples/
img/
templates/
tests/
scripts/
*.tgz
*.html
style.css
favicon.png
logo.svg
bower.json
composer.json
gulpfile.js
.editorconfig
.gitattributes
.travis.yml
