{
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-brace-style",
		"prettier-plugin-space-before-function-paren",
		"prettier-plugin-merge"
	],
	"importOrder": [
		"^(node:|fs|path|os|crypto|stream|http|https|zlib|url|util|assert|buffer|events|child_process|cluster|dns|net|tls|readline|repl|vm|worker_threads)",
		"^[a-z]",
		"^@/",
		"^\\.\\./",
		"^\\./",
		"^\\.$"
	],
	"importOrderSortSpecifiers": true,
	"importOrderCaseInsensitive": true,
	"braceStyle": "stroustrup",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "auto",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "es5",
	"quoteProps": "preserve",
	"printWidth": 100,
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": "*.css",
			"options": {
				"singleQuote": false
			}
		}
	]
}
