@import url(http://fonts.googleapis.com/css?family=Questrial);

@font-face {
	src: url(http://lea.verou.me/logo.otf);
	font-family: 'LeaVerou';
}

/*
 Shared styles
 */
 
section h1,
#features li strong,
header h2 {
	font: italic 100% Baskerville, Palatino Linotype, Georgia, serif;
}

/*
 Styles
 */

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body {
	font: 100%/1.5 Questrial, sans-serif;
	tab-size: 4;
	hyphens: auto;
}

a {
	color: inherit;
}

section h1 {
	font-size: 300%;
}

	section section h1 {
		font-size: 150%;
	}
	
	section h1 code {
		font-style: normal;
	}

p {
	margin: 1em 0;
}

section h1,
h2 {
	margin: 1em 0 .3em;
}

dd {
	margin-left: 5em;
}

strong {
	font-weight: bold;
}

code, pre {
	font-family: Consolas, Monaco, 'Andale Mono', 'Lucida Console', monospace;
	hyphens: none;
}

pre {
	max-height: 30em;
}

	body > pre:only-child {
		padding: 1em;
		min-height: 100%;
		box-sizing: border-box;
	}

header,
body > section {
	display: block;
	max-width: 900px;
	margin: auto;
}

header, footer {
	position: relative;
	padding: 30px -webkit-calc(50% - 450px); /* Workaround for bug */
	padding: 30px calc(50% - 450px);
	background-size: 20px 20px, 20px 20px, cover;
	background-repeat: repeat-x;
	background-position: bottom, bottom, top;
	color: white;
	text-shadow: 0 -1px 2px black;
}

header {
	background-image: linear-gradient(45deg, white 50%, transparent 50%),
	                  linear-gradient(135deg, transparent 50%, white 50%),
	                  url(img/spectrum.png);
}

	header .intro,
	html.simple header {
		overflow: hidden;
	}
	
	header h1 {
		float: left;
		margin-right: 30px;
		color: #eda725;
		text-align: center;
		font-size: 140%;
		text-transform: uppercase;
		letter-spacing: .25em;
	}
	
	header h2 {
		margin-top: .5em;
		color: #7fab14;
	}
	
		header h1 a {
			text-decoration: none;
		}

		header img {
			display: block;
			width: 150px;
			margin-bottom: .3em;
		}
		
	header h2 {
		font-size: 300%;
	}
	
	header .intro p {
		margin: 0;
		font: 150%/1.4 Questrial;
		font-size: 150%;
	}
	
	header p:after {
		content: '';
		display: block;
		clear: both;
	}
	
	#features {
		margin-top: 2em;
		font-size: 80%;
		overflow: hidden;
	}
	
		#features li {
			margin: 0 0 2em;
			list-style: none;
			width: 30em;
			display: inline-block;
			float: left;
		}
		
		#features li:nth-child(even) {
			float: right;
		}
		
			#features li:before {
				content: '✓';
				float: left;
				margin-right: .2em;
				color: #7fab14;
				font-size: 400%;
				line-height: 1;
			}
		
				#features li strong {
					display: block;
					font-size: 180%;
				}	
					
	.download-button {
		display: block;
		padding: .2em .8em .1em;
		border: 1px solid rgba(0,0,0,0.5);
		border-radius: 10px;
		background: #39a1cf;
		box-shadow: 0 2px 10px black,
		   inset 0 1px hsla(0,0%,100%,.3),
		   inset 0 .4em hsla(0,0%,100%,.2),
		   inset 0 10px 20px hsla(0,0%,100%,.25),
		   inset 0 -15px 30px rgba(0,0,0,0.3);
		color: white;
		text-shadow: 0 -1px 2px black;
		text-align: center;
		font-size: 250%;
		line-height: 1.5;
		text-transform: uppercase;
		text-decoration: none;
		hyphens: manual;
	}
	
	.download-button:hover {
		background-color: #7fab14;
	}
	
	.download-button:active {
		box-shadow: inset 0 2px 8px rgba(0,0,0,.8);
	}
	
	header .download-button {
		float: right;
		margin: 0 0 .5em .5em;
	}

footer {
	margin-top: 2em;
	background-image: linear-gradient(45deg, transparent 50%, white 50%),
	                  linear-gradient(135deg, white 50%, transparent 50%),
	                  url(img/spectrum.png);
	background-position: top, top, bottom;
	color: white;
	text-shadow: 0 -1px 2px black;
}

	footer p {
		font-size: 150%;
	}

	footer ul {
		column-count: 3;
	}

#toc {
	position: fixed;
	left: 3em;
	font-size: 75%;
	opacity: .3;
}

#toc:hover {
	opacity: 1;
}

@media (max-width: 1200px) {
	#toc {
		 display: none;
	}
}

	#toc h1 {
		font-size: 200%;
	}
	
#logo:before {
	content: '☠';
	float: right;
	font: 100px/1.6 LeaVerou;
}