/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.prism {
	background: #f5f2f0;
	color: black;
	text-shadow: 0 1px white;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre.prism {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;	
}

code.prism {
	padding: .1em;
	border-radius: .3em;
}

.comment,
.line-comment,
.prolog,
.doctype,
.cdata {
	color: slategray;
}

.punctuation {
	color: #999;
}

.property,
.tag,
.boolean,
.number {
	color: #905;
}

	.tag > .namespace {
		color: #b37298; /* 70% of .tag on .prism’s background */
	}

.selector,
.attr-name,
.string {
	color: #690;
}

	.attr-name > .namespace {
		color: #ab6; /* 70% of .attr-name on .prism’s background */
	}

.operator {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.atrule,
.attr-value,
.keyword {
	color: #07a;
}


.regex {
	color: #e90;
}

.important {
	font-weight: bold;
}

.tab:not(:empty)::before {
	content: '▸';
	color: hsl(24, 20%, 87%);
}